/**
 * /*Body Styling
 *
 * @format
 */

body {
	font-family: "Open Sans", San-Serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	margin-top: 80px;
	font-weight: bold;
}

p {
	margin-top: 25px;
	margin-bottom: 25px;
}

.btn {
	margin-left: 10px;
	margin-right: 10px;
}
/* Boostrap Buttons Styling */

.btn-default {
	font-family: Raleway-SemiBold;
	font-size: 13px;
	color: rgba(108, 88, 179, 0.75);
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid rgba(108, 89, 179, 0.75);
	border-radius: 40px;
	background: transparent;
	transition: all 0.3s ease 0s;
}

.btn-default:hover {
	color: #fff;
	background: rgba(108, 88, 179, 0.75);
	border: 2px solid rgba(108, 89, 179, 0.75);
}

.btn-primary {
	font-family: Raleway-SemiBold;
	font-size: 13px;
	color: rgba(58, 133, 191, 0.75);
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid rgba(58, 133, 191, 0.75);
	border-radius: 40px;
	background: transparent;
	transition: all 0.3s ease 0s;
}

.btn-primary:hover {
	color: #fff;
	background: rgba(58, 133, 191, 0.75);
	border: 2px solid rgba(58, 133, 191, 0.75);
}

.btn-success {
	font-family: Raleway-SemiBold;
	font-size: 13px;
	color: rgba(103, 192, 103, 0.75);
	letter-spacing: 1px;
	line-height: 8px;
	border: 2px solid rgba(103, 192, 103, 0.75);
	border-radius: 40px;
	background: transparent;
	transition: all 0.3s ease 0s;
}

.btn-danger {
	font-family: Raleway-SemiBold;
	font-size: 13px;
	color: rgba(217, 83, 78, 0.75);
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid rgba(217, 83, 78, 0.75);
	border-radius: 40px;
	background: transparent;
	transition: all 0.3s ease 0s;
}

span.badge.badge-danger {
	font-family: Raleway-SemiBold;
	font-size: 13px;
	color: rgba(238, 115, 110, 0.75);
	letter-spacing: 1px;
	line-height: 15px;
	border: 1px solid rgba(238, 115, 110, 0.75);
	border-radius: 40px;
	background: transparent;
	transition: all 0.3s ease 0s;
}
span.badge.badge-success {
	font-family: Raleway-SemiBold;
	font-size: 13px;
	color: rgba(123, 240, 162, 0.75);
	letter-spacing: 1px;
	line-height: 15px;
	border: 1px solid rgba(123, 240, 162, 0.75);
	border-radius: 40px;
	background: transparent;
	transition: all 0.3s ease 0s;
}
